*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 504px;
    height: 504px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.segment{
    margin: 30px;
}
#btn{
    margin-right: 10px;
}

#reset,#color{
    margin-right: 10px;
}
